{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    perl = 0

{{- if eq .gui 1 -}}
[edit]
    command = "code"
    args = "--wait"

[diff]
    command = "code"
    args = ["--wait", "--diff"]
{{- end -}}
{{- if eq.gui 0 -}}
[edit]
    command = "nano"

[diff]
    command = "diff"

[git]
    autoCommit = true
    autoPush = true