{{/* boolean feature tags */}}
{{- $gui := false -}}       {{/* true if this machine is one where I typically 
                                 log into a desktop environment */}}
{{- $pkg_update := false -}}    {{/* true if chezmoi should run updates on this 
                                 computer */}}
{{- $aptget := false -}}   {{/* true if chezmoi should install apt software */}}
{{- $winget := false -}}   {{/* true if chezmoi should install winget software */}}
{{- $install_apps := false -}}   {{/* true if chezmoi should install additional applications */}}
{{- "" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{-    if eq $osid "windows" -}}
{{-       $gui = true }}
{{-       $winget = false }}
{{-       if ge (atoi .chezmoi.windowsVersion.currentBuild) 17763 }}
{{-          $winget = true }}
{{-       end -}}
{{-    end -}}

{{- if eq .chezmoi.hostname "TONKEE" -}}
{{-    $install_apps = true }}
{{-    $gui = true }}
{{-    $aptget = true }} {{/* for WSL */}}
{{-    $pkg_update = true }}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    gui = {{ $gui }}
    pkg_update = {{ $pkg_update }}
    aptget = {{ $aptget }}
    winget = {{ $winget }}
    install_apps = {{ $install_apps }}
    hostname = {{ .chezmoi.hostname | quote }}

{{ if $gui -}}
[edit]
    command = "code"
    args = "--wait"

[diff]
    command = "code"
    args = ["--wait", "--diff"]
{{- else -}}
[edit]
    command = "nano"

[diff]
    command = "diff"
{{- end}}

[git]
    autoCommit = true
    autoPush = true
