{{ if ne .chezmoi.os "windows" -}}
{{ if .install }}
#!/bin/bash

echo "Non-windows environment..."
{{ if eq .osid "linux-ubuntu" -}}
echo "Ubuntu; installing packages:"
sudo apt update
sudo apt install {{ range .packages.linux.apt}}{{ . | quote }} {{ end }}
sudo apt install {{ range .packages.ubuntu.apt}}{{ . | quote }} {{ end }}
{{ end -}}
{{ if eq .osid "linux-kali" -}}
echo "Kali; installing packages:"
sudo apt update
sudo apt install {{ range .packages.linux.apt}}{{ . | quote }} {{ end }}
sudo apt install {{ range .packages.kali.apt}}{{ . | quote }} {{ end }}
{{ end -}}
{{ if .perl }}
echo "Perl is enabled; installing packages:"
sudo cpan {{ range .packages.all.cpan}}{{ . | quote }} {{ end }}
sudo cpan -T {{ range .packages.all.cpanT}}{{ . | quote }} {{ end }}
{{ end -}}
{{ end -}}
{{ end -}}
