{{ if eq .chezmoi.os "windows" -}}  
    {{- if .winget -}}
        # Step 1: List of package IDs we want to install
        {{- $ids := (list) -}}


        {{- range .packages.windows.wingetcli }} 
        {{- $ids = append $ids (quote .) -}}
        {{- end }}

        {{- if .install_apps }}
        {{- range .packages.windows.wingetcli_apps }}
            {{- $ids = append $ids (quote .) -}}
        {{- end }}
        {{- end }}

        {{- if .gui }}
        {{- range .packages.windows.wingetgui }}
            {{- $ids = append $ids (quote .) -}}
        {{- end }}
        {{- if .install_apps }}
            {{- range .packages.windows.wingetgui_apps }}
            {{- $ids = append $ids (quote .) -}}
            {{- end }}
        {{- end }}
        {{- end }}

        $requestedPackageIds = @(
        {{- range $i, $pkg := $ids -}}
            {{ $pkg }}{{ if lt $i (sub (len $ids) 1) }},{{ end }}
        {{- end }}
        )

        # Step 2: Extract clean IDs from winget list (skip junk)
        $installedPackages = Get-WinGetPackage | Where-Object { $_.Source -eq "winget" } | Select-Object -ExpandProperty Id
        $installedPackages | sort | Out-File -FilePath "winget_packages.txt"


        # Step 3: Install anything missing
        function Install-WingetIfMissing($id, $installedPackages) {
            if (-not ($installedPackages -contains $id)) {
                winget install -h $id -e --no-upgrade
            }
        }

    {{ end -}}
{{ end -}}
